<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cinema Schedule | Home page</title>
</head>
	
<body>
	<h2>HTML Forms</h2>

	<form action="/selection", method = "POST">
		<select name = "date">
			Date:<br>
			<option value="Monday">Monday
			<option value="Tuesday">Tuesday
			<option value="Wednesday">Wednesday
			<option value="Thurseday">Thurseday
			<option value="Friday">Friday
			<option value="Saturday">Saturday
			<option value="Sunday">Sunday
			<br>
		</select>
		<select name = "type">
			Type:<br>
			<option value="comedy">Comedy
			<option value="horror">Horror
			<option value="action">Action
			<option value="drama">Drama	   
			<br>
		</select>
		<input type="checkbox" name="rate" value="4">Higher than 4.0
		<select name = "price">
			Price:<br>
			<option  value="10"> less than $11
			<option  value="15">$11 ~ $16
			<option value="20">more than $16	   
			<br>
		</select>
		<input type = "submit" name  = "submit" value = "Go!" >
	</form> 

	<p>If you click the "Go!" , the form-data will be sent to MySQL and query results will be returned.</p>

	<div>
		<p>Value from the list: {{content[3]}}</p>
		<p>Loop through the content:</p>

		<ul>
		{% for n in content %}
		<li>{{n}}</li>
		{% endfor %}
		</ul> 
	</div>
</body>
</html>